<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .group_create_list_box {
            width: 1600px;
            margin: auto;
            margin-top: 100px;
        }

        .sp_project_box_btn {
            padding-top: 20px
        }

        .sp_project_box_btn div {
            text-align: left;
        }

        .project_attendants p {
            display: inline-flex;
            margin-left: 5px;
            margin-right: 5px;
        }

        .big_project_box {
            display: flex;
            align-items: center;
        }

        .project_attendants {
            padding: 15px 13px 15px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            width: 585px;
            margin-left: 4px;
            height: 20px;
        }

        .add_btn_box {
            padding-top: 12px;
        }

        .minus_box {
            padding-top: 12px;
        }

        .add_project_input_box {
            text-align: left;
        }

        .add_project_input_box input {
            width: 680px;
            height: 35px;
            margin-top: 15px;
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding-left: 10px;
        }

        .group_input_list_box {
            width: 690px;
            margin: auto;
        }

        .input_max_lengthbox {
            text-align: left;
            color: red;
            padding-top: 5px;
        }

        .project_name_box_pl_name>.project_name_input {
            width: 680px;
            height: 45px;
            margin-top: 25px;
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding-left: 10px;
        }

        .project_create_box_submit_box {
            margin: auto;
            text-align: center;
            margin-top: 10px;
        }

        .project_create_box_submit_box input {
            width: 100px;
            height: 35px;
            border-radius: 5px;
            border: none;
            background-color: black;
            color: white;
        }

        .big_userlist_box {
            position: absolute;
            right: 0;
            margin-right: 100px;
            margin-top: 50px;
        }

        .user_list_box {
            border: 1px solid #dddddd;
            padding-left: 10px;
            padding-right: 10px;
            overflow-y: scroll;
            height: 300px;
            padding-bottom: 10px;
            position: relative;
        }

        .big_managerlist_box {
            position: absolute;
            right: 0;
            margin-right: 300px;
            margin-top: 50px;
        }

        .admin_list_box {
            border: 1px solid #dddddd;
            padding-left: 10px;
            padding-right: 10px;
            overflow-y: scroll;
            height: 300px;
            padding-bottom: 10px;
            position: relative;

        }

        .user_small_box {
            width: 80px;
            height: 80px;
            background-color: #dddddd;
            text-align: center;
            border-radius: 100px;
            font-size: 12px;
            line-height: 80px;
            cursor: pointer;
            margin-top: 10px;
        }

        .box_bgk {
            width: 80px;
            height: 80px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 100px;
            text-align: center;
            color: white;
            line-height: 80px;
            display: none;
            cursor: pointer;
            position: absolute;
            margin-top: 10px;
        }

        .manager_box {
            padding-top: 20px
        }

        .manager_box div {
            text-align: left;
        }

        .project_manager_name p {
            display: inline-flex;
            margin-left: 10px;
            margin-right: 10px;
        }

        .project_manager_name {
            padding: 15px 15px 15px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            width: 585px;
            margin-left: 15px;
            height: 20px;
        }

        .manger_prj_box {
            display: flex;
            align-items: center;
        }

        .project_name_input p {
            display: inline-flex;
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <header>
        <%- include ("header.ejs") %>
    </header>
    <div class="big_people_List">
        <div class="big_userlist_box">
            <h3>참여 인원 리스트</h3>
            <div class="user_list_box">
                <% for(let user of user_list_all) { %>
                <div class="box_bgk">체크</div>
                <div class="user_small_box">
                    <%= user.nickname %>
                </div>
                <% } %>
            </div>
        </div>

        <div class="big_managerlist_box">
            <h3>담당자 인원 리스트</h3>
            <div class="admin_list_box">
                <% for(let user of user_list_all) { %>
                <div class="box_bgk">체크</div>
                <div class="user_small_box">
                    <%= user.nickname %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="group_create_list_box">
        <div class="group_input_list_box">
            <form action="/dinnoplus/group/list/project_create" method="POST">
                <div class="project_name_box_pl_name">
                    <input type="text" placeholder="프로젝트 이름을 적어주세요." name="project_name" class="project_name_input"
                        required>

                    <div class="manager_box">
                        <div class="manger_prj_box">담당자 :
                            <div class="project_manager_name"></div>
                        </div>
                    </div>

                    <input type="password" placeholder="방 비밀번호를 적어주세요." name="project_password" class="project_name_input" required>
                </div>
                <div class="sp_project_box_btn">
                    <div class="big_project_box">참여인원 :
                        <div class="project_attendants"></div>
                    </div>
                </div>

                <div class="project_create_box_submit_box">
                    <input type="submit" value="제출">
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    const people_project = document.querySelector(".project_attendants");
    const project_manager_name = document.querySelector(".project_manager_name");

    const user_list_box = document.querySelectorAll(".user_list_box .user_small_box");
    const check_box = document.querySelectorAll(".user_list_box .box_bgk");

    const manager_list_box = document.querySelectorAll(".admin_list_box .user_small_box");
    const manager_check_box = document.querySelectorAll(".admin_list_box .box_bgk");

    function same_user_MangerList(text_info, black_blcok, text_info_append) {
        black_blcok.style.display = "block";
        
        const user_text_box = text_info.textContent;
        const js_text = document.createElement('p');
        js_text.textContent = user_text_box;
        text_info_append.append(js_text);

        black_blcok.addEventListener('click', () => {
            black_blcok.style.display = "none";
            js_text.style.display = 'none';
        });
    }

    for (let i = 0; i < user_list_box.length; i++) {
        manager_list_box[i].addEventListener('click', () => {
            same_user_MangerList(user_list_box[i], manager_check_box[i], project_manager_name);
        });

        user_list_box[i].addEventListener('click', () => {
            same_user_MangerList(user_list_box[i], check_box[i], people_project);
        });
    }

</script>

</html>