<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .gaci_writing_box {
            width: 1100px;
            margin: auto;
            text-align: center;
            margin-top: 100px;
        }

        .gaci_writing_box form>input {
            width: 1100px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding-left: 10px;
            margin-top: 15px;
        }

        .gaci_writing_box form>textarea {
            width: 1100px;
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding-left: 10px;
            margin-top: 15px;
            resize: none;
            padding-top: 10px
        }

        .gaic_input_submit_box input {
            margin-top: 15px;
            width: 1100px;
            height: 35px;
            background-color: #4169E1;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .post_file_box {
            text-align: left;
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <header>
        <%- include ("header.ejs") %>
    </header>
    <div class="gaci_writing_box">
        <h1>공지사항 쓰기</h1>
        <form action="/dinnoplus/post/writing" method="POST">
            <input type="text" name="gaci_title" placeholder="제목" required>
            <br />
            <input type="text" name="gaci_user_name" value="<%= username %>" readonly />
            <br />
            <input type="text" name="gaci_date" class="gaci_date" readonly />
            <br />
            <textarea name="gaci_contents" rows="20" placeholder="내용을 입력해주세요."></textarea>
            <br />
            <div class="gaic_input_submit_box">
                <input type="submit" value="게시글 쓰기">
            </div>
        </form>
        <!-- <div class="post_file_box">
            <form action="/dinnoplus/post/writing/uploade" method="POST" enctype="multipart/form-data">
                <input type="file" name="imgFile">
                <input type="submit" value="파일 업로드하기">
            </form>
        </div> -->
    </div>
</body>

<script>
    const gaci_date = document.querySelector(".gaci_date");
    function input_date() {
        let date = new Date();
        const year = date.getFullYear();
        const month = new String(date.getMonth() + 1);
        const day = new String(date.getDate());
        const hour = date.getHours();
        const minute = date.getMinutes();
        const second = date.getSeconds();
        const text_Input_date = year + "년" + month + "월" + day + "일" + hour + "시" + minute + "분" + second + "초";
        gaci_date.value = text_Input_date;
    }

    input_date();

    setInterval(() => {
        input_date();
    }, 1000);

</script>

</html>