<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .profile_gray_box {
            background-color: #cccccc;
            width: 500px;
            height: 500px;
        }
    </style>
</head>

<body>
    <header>
        <%- include ("header.ejs") %>
    </header>
    <div class="profile_gray_box">
        <% if(logged) { %>
            <p>닉네임: <%= username %></p>
        <%}%>
    </div>
</body>
</html>